ion-grid{
  height:100%;
}

ion-button{
  margin-top:28px;
}
ion-content {
  // default background unless otherwise specified in the class specifics below
  --background: url("/assets/images/ClosingScreen.png") no-repeat bottom right/cover;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
