<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row  class="ion-justify-content-center questionBackground" >
      <h1>Pick A Game</h1>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-button
          expand="block"
          (click)="selectPrize(1)"
        >
          Game 1
        </ion-button>
      </ion-col>
    </ion-row >
      <ion-row class="ion-justify-content-center">
      <ion-col size="4" >
        <ion-button
          expand="block"
          (click)="selectPrize(2)"
        >
          Game 2
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" >
        <ion-button
          expand="block"
          (click)="selectPrize(3)"
        >
          Game 3
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
